<div class="container center">
 <header>
   <h1>Course Form<span id="addUpdate"></span></h1>
 </header>
</div>
<div class="container boxed pb10 pt10 center">
  <form>
    <label>Course Name</label>
    <input type="text" class="form-control" name="name" id="name" ng-model="data.name"></input>

    <label>Course Number</label>
    <input type="text" class="form-control" name="number" id="number" ng-model="data.course_number"></input>

    <label>Term</label>
    <input type="text" class="form-control" name="term" id="term" ng-model="data.term"></input>

    <button class="btn btn-primary mt10" ng-click="createCourse()">Submit</button>
  </form>
</div>
