<div ng-include="'app/partials/prof/p_navbar.html'"></div>
<div class="container">
    <h1>Professor | Home  Welcome Prof. {{$scope.professor.f_name}} {{$scope.professor.l_name}}</h1>
    <hr />

    <div class="row">

      <div class="col-sm-3 boxed">
        <h3>Utilities</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="#/professor/createCourse" class="btn btn-primary">Create New Course</a></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-sm-8 boxed">
        <h3>Courses</h3>
        <table class="table">
          <thead>
            <tr>
              <th>Course Name</th>
              <th>Course Number</th>
              <th>Term</th>
              <th><!--Button--></th>
            </tr>
        </thead>

        <tbody>
          <tr ng-repeat='course in courses'>
            <td>{{course.name}}</td>
            <td>{{course.course_number}}</td>
            <td>{{course.term}}</td>
            <td><a href="#/professor/course/{{course._id}}" class="btn btn-primary">View</a></td>
          </tr>
        </tbody>

        </table>
      </div>


  </div>

</div>
