  <div class="container">
    <header>
      <h1>Project - {{projectInfo.name}}<span id="project_name"></span></h1>
    </header>
  </div>

  <div class="container boxed mt10 pb10">
    <h3>Actions</h3>
    <a href="#/professor/course/{{courseId}}/project/{{projectId}}/createEvaluation" class="btn btn-primary">Create New Evaluations</a>
  </div>

  <div class="container boxed mt10">
    <h3>Evaluations</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Evaluation Name</th>
          <th>Evaluator</th>
          <th>Evaluatee</th>
          <th>Start Date</th>
          <th>Due Date</th>
          <th>Status</th>
          <th><!--btn placeholder--></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="evaluation in evaluations">
          <td>{{evaluation.name}}</td>
          <td>{{evaluation.evaluator}}</td>
          <td>{{evaluation.evaluatee}}</td>
          <td>{{evaluation.startDate}}</td>
          <td>{{evaluation.endDate}}</td>
          <td>{{evaluation.status}}</td>
          <td>
            <a href="" class="btn btn-primary">View</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</body>

</html>
