<div ng-include="'app/partials/prof/p_navbar.html'"></div>
<div class="container center">
 <header>
   <h1>Project Form</h1>
 </header>
</div>
<div class="container boxed pb10 pt10 center">
  <form name="myForm" ng-submit="submit()" novalidate>
    <label>Project Name</label>
    <input type="text" class="form-control" name="project" id="projectName" ng-model='data.name' required></input>
    <div class="alert alert-danger" ng-show="myForm.project.$touched && data.name == '' ">Please fill this field</div>

    <label>Description</label> <!--not required-->
    <textarea class="form-control" name="description" ng-model="data.description"></textarea>

    <label>Start Date</label>
    <input type="date" class="form-control" name="startDate" id="startDate" ng-model='data.startDate' required></input>
    <div class="alert alert-danger" ng-show="myForm.startDate.$touched && data.startDate == '' ">Please fill this field</div>

    <label>End Date</label>
    <input type="date" class="form-control" name="endDate" id="endDate" ng-model='data.endDate' required></input>
    <div class="alert alert-danger" ng-show="myForm.endDate.$touched && data.endDate == '' ">Please fill this field</div>

    <input type="submit" class="btn btn-primary mt10" ng-disabled="data.name == '' || data.startDate == '' || data.endDate == ''"/>
    <a href="#/professor/course/{{courseId}}" class="btn btn-info pull-right mt10"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
  </form>
</div>
