<div ng-include="'app/partials/prof/p_navbar.html'"></div>
  <div class="container">
    <header>
      <h1>Student Lookup</h1>
    </header>
  </div>
    <div class="container">
      <form>
        <label>Search</label>
        <input type="text" class="form-control" placeholder="Enter Course Name or Number" ng-model="search"/>
      </form>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th><!--placeholder btn--></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in students | filter: search">
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.email}}</td>
            <td><button class="btn btn-success" ng-click="addStudentToCourse(student._id)" ng-disabled="existingIds.indexOf(student._id) != -1">Add to Course</button>
          </tr>
        </tbody>
      </table>
    </div>
