
<div class="container">

  <nav class="navbar navbar-default" style="width: 100%; z-index: 9999;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">PEWA</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="student/{{student._id}}">Home</a></li>
          <li><a href="courselookup.html">Search Courses</a></li>
          <li><a href="logout">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
      <h1>Welcome {{student.first_name}} {{student.last_name}}</h1>

      <hr />

      <div class="row">
        <div class="col-sm-5 boxed pb10">
          <h3>My Courses</h3>
          <table class="table">
            <thead>
              <tr>
                <th>Course Name</th>
                <th>Course #</th>
                <th>Instructor</th>
                <th>Term</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="course in courses">
                <td><a href="student/{{student._id}}/{{course._id}}">{{course.name}}</a></td>
                <td>{{course.course_number}}</td>
                <td>{{course.professor.last_name}}</td>
                <td>{{course.term}}</td>
            </tbody>
          </table>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Add Course
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="courselookup.html">Search Courses</a></li>
              <li><a href="addCourseByID.html">Add by CourseID</a></li>
            </ul>
          </div>
        </div>

    </div>

  </div>

</div>
