<!DOCTYPE html>
<html>

<head>
    <title>My Projects</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
</head>

<body>
  <nav class="navbar navbar-default" style="width: 100%; z-index: 9999;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/student"><img style="height:38px; width:100px;" src="./images/PEWALogo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
        <!--  <li><a href="courselookup.html">Search Courses</a></li>-->
            <li><a ng-click="logout()">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <header>
      <h1>Project</h1>

    </header>
  </div>

  <div class="container boxed mt10">
    <a href="#/student/course/{{courseId}}" class="btn btn-info pull-right mt10"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
      <h3>Details</h3>
    <h4><b>Project Name:</b>{{project.name}}</h4>
      <h4><b>Team Name:</b> {{team.teamName}}</h4>
    <hr>
    <h4>Roster</h4>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="student in roster">
          <td>{{student.first_name}}</td>
          <td>{{student.last_name}}</td>
        </tr>
      </tbody>
    </table>
    <a ng-if="evalsCreated" href="#/student/course/{{course._id}}/project/{{project._id}}/evaluations" class="btn btn-primary pull-right mb10" >View Evaluations</a>
  </div>

</body>

</html>
