<div class=" login-box container text-center">
    <h1 style="text-align: center">PEWA</h1>
    <h6>Peer Evaluation Web Application</h6>
    <br></br>


    <div ng-init="select=1">
      <button ng-class="select==1 ? 'btn btn-primary' : 'btn btn-default'" ng-click="select=1">Student</button>
      <button ng-class="select==2 ? 'btn btn-primary' : 'btn btn-default'" ng-click="select=2">Professor</button>
    </div>

      <div class="tab-content">
        <!-- STUDENT LOGIN START -->
        <div id="student" ng-show="select==1">
          <h4>Student Login</h4>
          <form action="student/home.html">
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" class="form-control" name="username"></input>
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" name="pwd"></input>
            </div>
            <button type="submit" class="btn btn-default">Sign In</button>
          </form>
        </div>
        <!-- STUDENT LOGIN END -->
        <!-- PROFESSOR LOGIN START -->
        <div id="professor" ng-show="select==2">
          <h4>Instructor Login</h4>
          <form action="prof/p_home.html">
            <div class="form-group">
              <label for="username">Email</label>
              <input type="text" class="form-control" name="username"></input>
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" class="form-control" name="pwd"></input>
            </div>
            <button type="submit" class="btn btn-default">Sign In</button>
          </form>
        </div>
        <!-- PROFESSOR LOGIN END -->
      </div>

    <br></br>
    <a href="#register">Click here to register.</a>
</div>
